:root {
  scroll-behavior: auto;
}

.slide-container {
  width: 300vw;
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
position: fixed;
width: 100%;
z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
}

